<div class="jumbotron">
  <div class="container">
  	<div class="center">
   <h1>Apartment Underground</h1>
    <h2>find that perfect apartment rental in Brooklyn</h2>
  </div>

  <%= render 'filter' %>
</div>
</div>